# Core functionality - changes here should be rare!
/src/app.py                   @aslcoder
/src/backend/database.py      @aslcoder
/src/backend/routers/auth.py  @aslcoder

# The frontend will need refactored soon to be more object oriented.
/src/static/   @aslcoder
